<div id="<%= dom_id group %>">
  <h1>
    <strong>Name:</strong>
    <%= group.name %>
  </h1>

  <p>
    <strong>Description:</strong>
    <%= group.description %>
  </p>

  <p>
    <strong>Invite code:</strong>
    <%= group.invite_code %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= group.creator_id %>
  </p>

  <h3>Task for group:</h3>
  <% if group.tasks.empty? %>
    <p>There are no tasks for this group</p>
  <% else %>
  <table class="table">
  <thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Task description</th>
    <th scope="col">Task due date</th>
    <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% group.tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>


</div>
