<p> Add Task
</p>

<%= form_with(model: @task) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <br/>
  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <br/>
  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>
  <br/>
  <div>
    <%= form.submit %>
  </div>
<% end %>